.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
}

.bottomGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  width: 100%;
}

@media (max-width: 600px) {
  .page {
    padding: 12px;
  }

  .bottomGrid {
    grid-template-columns: 1fr;
  }
}
